<form action="/posts/create" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="제목"><br>
    <textarea name="content" placeholder="내용"></textarea><br>
    <!--<input type="file" name="pic"><br><br>-->
    <input type="submit" value="작성하기">
</form>